---
import { Icon } from "astro-icon/components";
const { user } = Astro.locals;
---

<nav
  class="pb-safe-bottom fixed bottom-0 left-0 z-50 w-full border-t border-gray-200 bg-white px-4 py-2 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1)]"
>
  <div class="container mx-auto flex justify-around">
    <a
      href="/"
      class="text-secondary hover:text-primary flex flex-col items-center transition-colors"
    >
      <Icon
        name="streamline-ultimate-color:ice-cream-cone"
        class="mb-1 h-6 w-6"
      />
      <span class="mt-1 text-xs">Hjem</span>
    </a>
    <a
      href="/recipes"
      class="text-secondary hover:text-primary flex flex-col items-center transition-colors"
    >
      <Icon
        name="streamline-ultimate-color:archive-books"
        class="mb-1 h-6 w-6"
      />
      <span class="mt-1 text-xs">Oppskrifter</span>
    </a>
    <a
      href="/plan"
      class="text-secondary hover:text-primary flex flex-col items-center transition-colors"
    >
      <Icon name="streamline-ultimate-color:tea-pot" class="mb-1 h-6 w-6" />
      <span class="mt-1 text-xs">Planlegg</span>
    </a>
    <a
      href="/shopping"
      class="text-secondary hover:text-primary flex flex-col items-center transition-colors"
    >
      <Icon
        name="streamline-ultimate-color:notes-checklist-flip"
        class="mb-1 h-6 w-6"
      />
      <span class="mt-1 text-xs">Handleliste</span>
    </a>
    {
      user && (
        <form action="/api/auth/logout" method="POST" class="inline">
          <button
            type="submit"
            class="text-secondary flex cursor-pointer flex-col items-center border-none bg-transparent p-0 transition-colors hover:text-red-600"
          >
            <Icon name="hugeicons:logout-01" class="mb-1 h-6 w-6" />
            <span class="mt-1 text-xs">Logg ut</span>
          </button>
        </form>
      )
    }
  </div>
</nav>
