---
import { Icon } from "astro-icon/components";
const { user, pendingInvitesCount } = Astro.locals;
---

<nav
  class="border-border bg-surface fixed bottom-0 left-0 z-50 w-full border-t px-4 pt-4 pb-6"
>
  <div class="container mx-auto flex justify-around">
    <a href="/" class="text-secondary group flex flex-col items-center">
      <Icon
        name="streamline-ultimate-color:ice-cream-cone"
        class="mb-1 h-6 w-6"
      />
      <span class="mt-1 text-xs">Hjem</span>
    </a>
    <a href="/recipes" class="text-secondary group flex flex-col items-center">
      <Icon
        name="streamline-ultimate-color:archive-books"
        class="mb-1 h-6 w-6"
      />
      <span class="mt-1 text-xs">Oppskrifter</span>
    </a>
    <a href="/plan" class="text-secondary group flex flex-col items-center">
      <Icon name="streamline-ultimate-color:tea-pot" class="mb-1 h-6 w-6" />
      <span class="mt-1 text-xs">Planlegg</span>
    </a>
    <a href="/shopping" class="text-secondary group flex flex-col items-center">
      <Icon name="streamline-ultimate-color:paper-write" class="mb-1 h-6 w-6" />
      <span class="mt-1 text-xs">Handleliste</span>
    </a>
    <a
      href="/settings"
      class="text-secondary group relative flex flex-col items-center"
    >
      <Icon name="streamline-ultimate-color:cog" class="mb-1 h-6 w-6" />
      {
        pendingInvitesCount > 0 && (
          <span class="ring-surface absolute top-0 right-1 h-2.5 w-2.5 rounded-full bg-red-500 shadow-sm ring-2" />
        )
      }
      <span class="mt-1 text-xs">Instillinger</span>
    </a>
  </div>
</nav>
